<ion-view view-title="Résultat de la recherche">
  <ion-content class="padding">
    
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{track.artist.picture}}" title="{{track.artist.name}}">
        <h2 ng-bind="track.title"></h2>
        <p>{{track.artist.name}} / {{track.album.title}}</p>
      </div>
      <div class="item item-image">
        <img ng-src="{{track.album.cover}}" title="{{track.album.title}}">
      </div>
      <a class="item item-icon-left assertive" href="#" ng-click="playMedia('{{track.preview}}')">
        <i class="icon ion-volume-medium"></i>
        Ecouter un extrait
      </a>
      <a class="item item-icon-left assertive" href="#" ng-click="addToFavorites(track)">
        <i class="icon ion-heart"></i>
        Ajouter aux favoris
      </a>
    </div>

  </ion-content>
</ion-view>